<div class='form-group'>
  <%= f.label :status, 'Submitted' %>
  <%= f.radio_button :status, 'submitted' %>

  <%= f.label :status, 'Approved' %>
  <%= f.radio_button :status, 'approved' %>
  
  <%= f.label :status, 'Rejected' %>
  <%= f.radio_button :status, 'rejected' %>
</div>